<div class="main-wrapper">
  <h2>Game rules</h2>
  <p>
    In addition to the default set of allowed hand signs rock, paper and
    scissors, the game contains an extended set with the hand sign "Well". At
    the start of the game you can choose between the two modes "Classic" and
    "Extended".
  </p>

  <div class="text-align-left">
    <h3>"Classic" mode:</h3>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</li>
    <li>Paper beats Rock</li>
    <br />

    <h3>"Extended" mode:</h3>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</li>
    <li>Paper beats Rock and Well</li>
    <li>Well beats Rock and Scissors</li>
    <br />
  </div>

  <p>
    The game is played in best-of mode. If a player wins the predefined odd
    number of rounds, the entire game is considered won. At the start, the
    number of desired game rounds can be selected.
  </p>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Got it!</button>
</mat-dialog-actions>
