.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-wrapper {
  padding-top: 20px;
  text-align: center;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  width: 150px;
  height: 50px;
}
