<div class="main-wrapper" style="margin: 100px;">
  <div class="container-wrapper">
    <button
      class="btn-wrapper"
      mat-raised-button
      (click)="settingsPanel.expanded = !settingsPanel.expanded">
      Setup Game
    </button>
  </div>

  <div class="container-wrapper">
    <mat-accordion>
      <mat-expansion-panel
        #settingsPanel="matExpansionPanel"
        hideToggle
        class="mat-elevation-z0">
        <div>
          <div>
            <p style="margin-bottom: 5px" class="mat-h3">Game mode</p>
          </div>
          <div>
            <mat-button-toggle-group
              [value]="selectedMode"
              (change)="onModeChange($event)"
              appearance="legacy">
              <mat-button-toggle [value]="gameModes.Classic">Classic</mat-button-toggle>
              <mat-button-toggle [value]="gameModes.Extended">Extended</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div>
            <p style="margin-top: 10px">
              {{ getModeDescription(selectedMode) }}
            </p>
          </div>
        </div>

        <div class="container-wrapper">
          <div>
            <p style="margin: 0" class="mat-h3">Best-Of-Rounds</p>
          </div>
          <div class="row-wrapper">
            <div>
              <button mat-mini-fab [disabled]="canReduceRounds()" (click)="onRoundsReduce()">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            <div style="padding: 20px 20px">
              {{ bestOfRounds }}
            </div>
            <div>
              <button mat-mini-fab [disabled]="canIncreaseRounds()" (click)="onRoundsIncrease()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <button
    class="btn-wrapper"
    mat-raised-button
    color="accent"
    (click)="startGame(selectedMode)">
    Start Game
    </button>
  </div>
</div>
