.menu-wrapper {
  display: flex;
  width: 100%;
}

.sign-btn {
  margin: 20px;
  width: 75px;
  font-size: xxx-large;
  height: 75px;
  background-color: mintcream;
}

.row-wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 0 20px 20px;
}

.result {
  text-align: center;
}

.result-final {
  @extend .result;
  font-size: 50px;
  margin: 30px;
}

.tile {
  border-width: 2px;
  border-style: outset;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: x-large;
  box-shadow: 1px 2px 5px #aaaaaa;
}

.tile-win {
  @extend .tile;
  border-style: solid;
  background-color: mediumaquamarine;
}

.tile-info {
  @extend .tile;
  font-size: small;
  width: 70px;
}

.tile-round {
  margin-top: 5px;
  font-size: small;
}

.move {
  font-size: 100px;
  margin: 50px;
}
