<div *ngIf="game" class="main-wrapper">
  <div class="menu-wrapper">
    <div style="margin-left: 10px">
      <a class="btn-wrapper" color="accent" mat-raised-button href="/start">&#xab;New Game</a>
    </div>
    <div style="margin-left: 10px">
      <button class="btn-wrapper" color="primary" mat-raised-button>
        Restart
      </button>
    </div>
  </div>

  <div>
    <p style="margin: 30px 0 0 0;" class="mat-h3">Choose a hand sign:</p>
  </div>

  <div class="signs-row">
    <span *ngFor="let sign of game.availableSigns">
      <button
        class="sign-btn"
        mat-fab
        color="basic"
        (click)="onSignClicked($event, sign)">
        {{ signs[sign] }}
      </button>
      <p>{{ sign }}</p>
    </span>
  </div>

  <div>
    <h2 class="mat-h2">Win!! 🙂</h2>
  </div>

  <div class="signs-row">
    <div *ngFor="let move of game.moves">
      <div [ngClass]="(move.result.toString()=='Win')?'tile-win':'tile'">{{ signs[move.userSign] }}</div>
      <div [ngClass]="(move.result.toString()=='Loose')?'tile-win':'tile'">{{ signs[move.botSign] }}</div>
      <p style="margin-top: 5px;">{{ move.round }}</p>
    </div>
</div>

</div>
